/* variables */

:root {
  --color-primary: #1d1c1c;
  --color-secondary: rgb(38, 38, 38);
  --color-secondary-light: rgb(55, 55, 55);
  --color-secondary-lighter: rgb(109, 109, 109);
  --color-neutral: rgb(226, 226, 226);
  --color-background: rgb(38, 38, 38);
  --border-radius-large: 5px;
  --border-radius-small: 2px;
}

body::-webkit-scrollbar {
  background: var(--color-secondary) !important;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-top: 2px solid var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
  border-radius: 5px;
}

body {
  padding-right: 0px !important;
  overflow-y: overlay;
}

/* bootstrap classes */

a,
a:visited {
  color: var(--color-neutral);
}

input {
  background-color: var(--color-secondary);
}

*:active,
*:focus {
  outline: 0;
  outline-color: transparent;
  outline-width: 0;
  outline-style: none;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.btn {
  cursor: pointer;
  font-weight: 500;
}

/* form styles */

#form {
  padding-top: 12px;
}

#form-title {
  padding-bottom: 12px;
}

/* table styles */

.b-table {
  color: var(--color-neutral);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 300px;
}

.b-table-row-selected {
  background-color: var(--color-neutral) !important;
  color: var(--color-primary);
}

.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background-color: var(--color-secondary-light);
}

.post-table-button {
  margin: 15px;
}

.crud-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 10px;
}

.slim {
  padding: 12px !important;
}

.slimmer {
  padding-left: 0px !important;
}

.paid {
  color: var(--color-secondary-lighter) !important;
}

.table-cont {
  height: 1000vh;
}

.paginationControls {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

@media only screen and (max-width: 668px) {
  .orderClient {
    max-width: 110px;
  }

  .slim {
    padding: 8px 5px 8px 5px !important;
  }

  .dashOrderClient {
    padding-left: 12px !important;
  }

  .p-icon {
    width: 20px !important;
  }
}

.orderProduct {
  min-width: 150px;
}

.paginationControls {
  position: sticky !important;
  top: 0 !important;
}

/* toolbox styles */

#toolbox {
  position: fixed;
  width: 100%;
  max-width: 640px;
  background-color: var(--color-primary);
  bottom: 5%;
}

.toolbox-button {
  width: 90px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
}

@media only screen and (min-width: 668px) {
  #toolbox {
    left: 50%;
    margin-left: -320px;
  }
}

@media only screen and (max-width: 668px) {
  #toolbox {
  }
}

/* global nav styles */

.dropdown-menu {
  background-color: var(--color-secondary) !important;
  border-color: var(--color-primary) !important;
  padding-top: 1px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 668px) {
  .custom-dropdown .dropdown-menu {
    left: -24% !important;
  }
}

@media only screen and (max-width: 320px) {
  .custom-dropdown .dropdown-menu {
    left: 0px !important;
  }
  .custom-create-dropdown .dropdown-menu {
    left: -24% !important;
  }
}

.dropdown-item {
  padding: 2px 4px 2px 4px !important;
}

.dropdown-item:hover {
  background-color: var(--color-secondary) !important;
}

.nav-dropdown {
  background-color: var(--color-primary) !important;
}

@media only screen and (min-width: 668px) {
  .nav-dropdown {
    width: 175px;
  }
}

@media only screen and (max-width: 668px) {
  .nav-dropdown {
    width: 120px;
  }
}

/* global styles */

body {
  background-color: var(--color-background);
}

.border {
  border: 1px solid var(--color-background);
}

.justifyLeft {
  text-align: left;
}

.justifyRight {
  text-align: right;
}

@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@300;400;500&display=swap");

#app {
  font-family: "Palanquin", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #e6e6e6;
}

/* global form styles */

#form {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 150px;
}

.custom-input {
  color: var(--color-neutral);
  background-color: var(--color-secondary-light);
  border: var(--color-primary);
}

.custom-radio {
  text-align: left;
}

/* material design shadows */

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* alert classes */

.swal2-show {
  background-color: var(--color-primary) !important;
  color: var(--color-neutral) !important;
}

.swal2-content {
  font-family: "Gill Sans", serif !important;
  text-align: right !important;
  padding-right: 20% !important;
  font-weight: lighter !important;
  color: var(--color-neutral) !important;
}

.swal2-title {
  font-family: "Gill Sans", serif !important;
  font-style: italic !important;
  font-size: 20px !important;
  font-weight: lighter !important;
  color: var(--color-neutral) !important;
}

button.swal2-confirm,
button.swal2-cancel {
  min-width: 120px !important;
}

.swal2-container.swal2-shown {
  background-color: transparent !important;
  padding: 0px !important;
}

.swal2-show {
  -webkit-animation: swal2-show 0s !important;
  animation: swal2-show 0s !important;
}

.swal2-shown swal2-height-auto {
  padding-right: 0px !important;
}
